<a href="https://colab.research.google.com/github/kruthi-msd/Weather_Prediction/blob/main/Weather_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving weatherHistory.csv to weatherHistory.csv

In [ ]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression

from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
import io
weather=pd.read_csv(io.BytesIO(uploaded['weatherHistory.csv']))

In [ ]:
weather.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [ ]:
weather.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [ ]:
weather.shape

(96453, 12)

In [ ]:
weather.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [ ]:
weather.isnull().any()

Formatted Date              False
Summary                     False
Precip Type                  True
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [ ]:
weather['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [ ]:
weather.loc[weather['Precip Type'].isnull(),'Precip Type'] = 'rain'

In [ ]:
weather.loc[weather['Precip Type'] == 'rain', 'Precip Type'] = 1
weather.loc[weather['Precip Type'] == 'snow', 'Precip Type'] = 0

In [ ]:
weather_num = weather[list(weather.dtypes[weather.dtypes!='object'].index)]

In [ ]:
weather_y = weather_num.pop('Temperature (C)')
weather_X = weather_num

In [ ]:
weather.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,1,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,1,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,1,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,1,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,1,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(weather_X, weather_y, test_size = 0.2, random_state = 4)

In [ ]:
X_train.head()

,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
70626,21.061111,0.31,12.5580,110,16.1000,0,1005.87
52457,25.016667,0.36,18.4989,352,10.3523,0,1025.36
90690,0.738889,0.89,17.1304,270,15.8263,0,1014.75
69528,13.772222,0.78,14.4900,300,15.8263,0,1014.56
92419,23.288889,0.82,6.3917,357,16.1000,0,1022.05

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
prediction = model.predict(X_test)

In [ ]:
np.mean((prediction-y_test)**2)

0.9022743711593193

In [ ]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction,
              'diff': (y_test-prediction)})

          actual  prediction      diff
37443  -2.288889   -3.355714  1.066825
86534   8.861111    9.418530 -0.557419
2082    9.805556    9.701321  0.104235
53130  27.222222   27.096837  0.125385
45196  17.705556   17.302053  0.403503
...          ...         ...       ...
55387 -10.066667  -11.960987  1.894320
25976   9.972222    9.831699  0.140523
32423  12.777778   15.436904 -2.659127
26570  15.277778   16.307788 -1.030010
45834   2.200000    3.666659 -1.466659

[19291 rows x 3 columns]

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 4)
X_poly = poly.fit_transform(X_train)

poly.fit(X_poly, y_train)
lin2 = LinearRegression()
lin2.fit(X_poly, y_train)

LinearRegression()

In [ ]:
prediction2 = lin2.predict(poly.fit_transform(X_test))
np.mean((prediction2-y_test)**2)

0.14602591797300768

In [ ]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction2,
              'diff': (y_test-prediction2)})

          actual  prediction      diff
37443  -2.288889   -2.187359 -0.101530
86534   8.861111    9.112527 -0.251416
2082    9.805556    9.601599  0.203957
53130  27.222222   27.130396  0.091826
45196  17.705556   17.767791 -0.062235
...          ...         ...       ...
55387 -10.066667  -10.170297  0.103631
25976   9.972222    9.772840  0.199382
32423  12.777778   13.295697 -0.517919
26570  15.277778   15.415337 -0.137559
45834   2.200000    2.957942 -0.757942

[19291 rows x 3 columns]

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
prediction3 = regressor.predict(X_test)
np.mean((prediction3-y_test)**2)

0.006719267477609644

In [ ]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction3,
              'diff': (y_test-prediction3)})

          actual  prediction          diff
37443  -2.288889   -2.266667 -2.222222e-02
86534   8.861111    8.855556  5.555555e-03
2082    9.805556    9.811111 -5.555555e-03
53130  27.222222   27.222222  0.000000e+00
45196  17.705556   17.705556  3.552714e-15
...          ...         ...           ...
55387 -10.066667  -10.000000 -6.666667e-02
25976   9.972222    9.972222  0.000000e+00
32423  12.777778   12.777778 -6.217249e-14
26570  15.277778   15.277778  0.000000e+00
45834   2.200000    2.200000  0.000000e+00

[19291 rows x 3 columns]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth = 10, random_state = 0, n_estimators = 100)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, random_state=0)

In [ ]:
prediction4 = regr.predict(X_test)
np.mean((prediction4-y_test)**2)

0.007170444398828778

In [ ]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction4,
              'diff': (y_test-prediction4)})

          actual  prediction      diff
37443  -2.288889   -2.366102  0.077213
86534   8.861111    8.892260 -0.031149
2082    9.805556    9.847246 -0.041690
53130  27.222222   27.201229  0.020993
45196  17.705556   17.713716 -0.008160
...          ...         ...       ...
55387 -10.066667  -10.099056  0.032389
25976   9.972222    9.913953  0.058269
32423  12.777778   12.781718 -0.003940
26570  15.277778   15.275648  0.002130
45834   2.200000    2.187450  0.012550

[19291 rows x 3 columns]

In [ ]:
regr2 = RandomForestRegressor(max_depth = 50, random_state = 0, n_estimators = 100)
regr2.fit(X_train, y_train)

RandomForestRegressor(max_depth=50, random_state=0)

In [ ]:
prediction5 = regr.predict(X_test)
np.mean((prediction5-y_test)**2)

0.007170444398828778

In [ ]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction5,
              'diff': (y_test-prediction5)})

          actual  prediction      diff
37443  -2.288889   -2.366102  0.077213
86534   8.861111    8.892260 -0.031149
2082    9.805556    9.847246 -0.041690
53130  27.222222   27.201229  0.020993
45196  17.705556   17.713716 -0.008160
...          ...         ...       ...
55387 -10.066667  -10.099056  0.032389
25976   9.972222    9.913953  0.058269
32423  12.777778   12.781718 -0.003940
26570  15.277778   15.275648  0.002130
45834   2.200000    2.187450  0.012550

[19291 rows x 3 columns]